extends layout

block content
  main.main(role='main')
    .container
      section.blogpage
        article.post
          header
            h2
              = post.title
            span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
          div.post.content
            != post.content
          div.tags
            - each tag in post.tags
              a(href=tagUrl(tag))
                span.label.label-info #{tag}